html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.app_div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}